/* Ans 1 */
#container
{
        height: 400px;
        width: 400px;
        background-color:rgb(24, 133, 191);
        border:2px solid lightseagreen;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
}
.box
{ 
        height: 100px;
        width: 100px;
        background-color:rgb(0, 121, 4);
        border: 2px solid black;
        border-radius: 10px;
        font-size: 48px;
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
}
/*Ans2*/
#navbar {
        height: 50px;
        width: 900px;
        background-color:pink;
        border: 2px solid lightseagreen;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
}
.option
{
        height: 50px;
        width: 80px;
        border-radius: 10px;
        margin-left: 5px;
        font-size: 24px;
        line-height: 50px; 
}