h1 {
  text-decoration: underline;
}
p {
  line-height: 30px;
  color: brown;
}
text-area {
  color: black;
}
button {
  color: blueviolet;
  background-color: white;
  border-radius: 9px;
  border-color: beige;
}
a {
  color: rgb(0, 255, 0);
  text-decoration: none;
}
body {
  font-family: georgia;
  text-align: center;
}
h3 {
  color: black;
}
