h1{
    color: rgb(250, 00, 250);
}
h2 {
    background-color: black;
    color: white;

}
h3 {
    background-color: rgb(161, 51, 51);
    color: white;
    text-decoration: underline;
    
}
h4 {
    background-color: rgb(57, 20, 203);
    color: white;
    
}