h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: impact;
    color: green;
    font-weight: 800;

}
p {
    font-family: sans-serif;
    line-height: 2px;
    color: brown;
    font-size: 19px;
    border: 10px;

}
button {
    color: blue;
    background-color: white;
    border-radius: 10px;
    border-color: white;
}
a {
    text-decoration: none;
    color: black;
    font: 900;

}