* {
    font-family: Courier New;  
}

h1 {
    color: #1b74e4;
    font-weight: bold;
}

#searchbtn {
    color: white;
    background-color: black;
    padding: 10px 5px;
    border: 80px;
    border-radius: 5px;
}

.button {
    color: rgb(255, 255, 255);
    background-color: aqua;
    text-decoration: none;
    padding: 10px 8px;
    border: #1b74e4;
    border-radius: 10px;
}