h1 {
    color: orange;
}
button {
    background-color: blue;
    color: white;
    border: 10px;
    border-radius: 9px;
    border-color: black;
}
p {
    background-color: black;
    color: rgb(0, 73, 94);
    text-align: center;
    line-height: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
}