h1{
    background-color: rgb(255, 255, 10);
    text-decoration: underline;
    text-align: center;
}
p {
    background-color: antiquewhite;
    color: black;
    text-align: center;
    line-height: 2px;
    text-decoration: none;
}
