/* universal selector */
*{
    font-family: Arial, Helvetica, sans-serif;

}
h3{
    color: green;
}
h1 {
    color: #b92b67;

}
/* id selector */
#login {
color: black;
background-color: #f1e1e1;
padding: 10px 8px;
border-radius: 10px;
}
#signup {
    color:white;
    background-color: #b92b67;
    padding: 10px 8px 10px 8px;
    border-radius: 10px;
}
.upvote {
    color: white;
    background-color: green;
    padding: 10px 7px;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    font-weight: bold;
}