        /* universal selector */
        *{
            font-family: Arial, Helvetica, sans-serif;

        }
        h3{
            color: green;
        }
        h1 {
            color: #b92b67;

        }
        /* id selector */
        #login {
        color: black;
        background-color: #f1e1e1;
        padding: 10px 8px;
        border-radius: 10px;
        border-color: #b92b67;
        }
        #signup {
            color:white;
            background-color: #b92b67;
            padding: 10px 8px 10px 8px;
            border-radius: 10px;
        }
        .upvote {
            color: white;
            background-color: green;
            padding: 10px 7px;
            border-radius: 10px;
            border-color: white;
            border-width: 2px;
            font-weight: bold;
        }
        /* decendent selector */
        .post a {
            color: #b92b67;
            font-size: 15px;
            background-color: yellowgreen;
        }

        /* if we want some specific selection then we have add the class in paragrph */

        p a {
            color:#f1e1e1;
            background-color: #b92b67;
            padding: 10px;
            border-radius: 10px;
        }
        /* in decendent selector we can level up the things for example */

        nav ul li a {
            color: #b92b67;
            text-decoration: none;
            font-size: 15px;
        }
        p + h3 {
            text-decoration: underline;
        }
        .upvote + butoon {
        color: #fff;
        background-color: #b92b67;
        padding: 10px;
        border-radius: 10px;
        }

        div input {
            background-color: rgb(226, 220, 211);
            border: 2px;
            border-radius: 5px;
            border-color: #b92b67;
            padding: 10px 5px;
        }

        input [type="text"] {
            color: white;
        }

        input [type="passoword"] {
            color: red;
        }
        /* pseudo elements */
        button:hover {
            background-color: black;
            color: white;
        }
        h3:hover {
            text-decoration:none;
            color:black;
        }
        button:active{
        background-color: #b92b67;
        }
        p:active{
            text-transform: capitalize;
            color: #b92b67;
            font-weight: bold;
        }
        input[type="radio"]:checked + label {
        color: #b92b67;
        font-weight: bold;

        }
        div:nth-of-type(2n) {
            background-color: rgb(178, 227, 211);
        }
        h1::first-letter{
            color: green;   
        }

        p::first-line{
            color: rgb(255, 25, 117);
        }
        p::selection{
            background-color: rgb(183, 227, 25);
        }
        /* cascading */

h3{
    background-color: yellow;
}
h3{
    background-color: green;
    color:white;
}