.face {
  height: 400px;
  width: 400px;
  background-color: #ffa511;
  border-radius: 50%;
}
.Mouth {
  width: 200px;
  height: 75px;
  background-color: rgb(174, 8, 8);
  border-radius: 0 0 50px 50px;
  position: absolute;
  top: 250px;
  left: 100px;
}
.Left-eye,
.Right-eye {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 120px;
  top: 100px;
}
.right-eye {
  left: 240px;
}
