h1{
    background-color: aquamarine;
    color: black;
}
h2 {
    text-align: center;
    color: rgb(219, 211, 211);
    background-color: blue;
}
p {
    color: rgb(232, 57, 86);
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}