section {
    margin-top: 100px;
}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: rgb(9, 111, 154);
    margin: 10px auto;
    border: 2px sold black;
}
div:nth-of-type(2n) {
    background-color: rgb(251, 139, 99);

}
div:nth-of-type(3n) {
    background-color: rgb(215, 111, 146);
    color: azure;
}

/* transform */
#one {
    transform: rotate(45deg);
}
#two {
    transform: scale(0.5);
}

#three {
    transform: translate(-100px); 
}
/* opar waly main - ka sign hain is waja sy result left side par show horha hai output mai */
#four{
    transform: skew(30deg);
}
#five {
    transform: rotate(30deg) skewx(130deg);
}