.box {
    background-color: blueviolet;
    border: 2px solid black;
    width: 150px;
    height: 150px;
}

.one {
    background-color: aqua;
}

.two {
    background-color: brown;
    position: relative;
    bottom: 50px;
}